<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @user.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @user.longitude %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Recommendations:</b>
  <ul>
    <%- @user.recommendations.each do |rec| %>
      <%- poi = rec.point_of_interest %>
      <li><%= link_to poi.name, poi %></li>
    <%- end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
